@charset "ISO-8859-1";
#welcome{
	    border-style: inset;
    
    border-style: nheritset;

    margin-top: 60px;
}
.title{
	    margin-top: 32px;
    /* font-family: 'Oswald', sans-serif; */
    font-family: inherit;
    letter-spacing: 6px;
	
}
h1{
	    font-family: fangsong;
}
h4{
	    font-family: emoji;
	    
}
h5{
	    font-style: italic;
	        font-weight: unset;
  
}
/* a{
	    text-decoration: none;
    color: aliceblue;
} */