<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   <welcome-file-list>
     <welcome-file>Home.html</welcome-file>
    </welcome-file-list>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<display-name>ErrorHandlerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.controller.exception.ErrorHandlerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeController</servlet-name>
  	<display-name>EmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginEmpController</servlet-name>
  	<display-name>LoginEmpController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.LoginEmpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCustomerController</servlet-name>
  	<display-name>LoginCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.LoginCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintCustomerController</servlet-name>
  	<display-name>PrintCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.PrintCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<display-name>DeleteCustomerController</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayEmployee</servlet-name>
  	<display-name>DisplayEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.DisplayEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayCustomer</servlet-name>
  	<display-name>DisplayCustomer</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.DisplayCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<display-name>UpdateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.UpdateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<display-name>UpdateCustomer</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.UpdateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBalance</servlet-name>
  	<display-name>ViewBalance</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.ViewBalance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositMoney</servlet-name>
  	<display-name>DepositMoney</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.DepositMoney</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawMoney</servlet-name>
  	<display-name>WithdrawMoney</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.WithdrawMoney</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferMoney</servlet-name>
  	<display-name>TransferMoney</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.TransferMoney</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerControllerEmp</servlet-name>
  	<display-name>CustomerControllerEmp</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.controller.CustomerControllerEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerControllerEmp1</servlet-name>
  	<display-name>CustomerControllerEmp1</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.CustomerControllerEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerControllerEmpAdded</servlet-name>
  	<display-name>CustomerControllerEmpAdded</display-name>
  	<description></description>
  	<servlet-class>com.revature.bms.servlet.controller.CustomerControllerEmpAdded</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ErrorHandlerController</servlet-name>
  	<url-pattern>/ErrorHandlerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeController</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginEmpController</servlet-name>
  	<url-pattern>/LoginEmpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCustomerController</servlet-name>
  	<url-pattern>/LoginCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintCustomerController</servlet-name>
  	<url-pattern>/PrintCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayEmployee</servlet-name>
  	<url-pattern>/DisplayEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayCustomer</servlet-name>
  	<url-pattern>/DisplayCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomer</servlet-name>
  	<url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBalance</servlet-name>
  	<url-pattern>/ViewBalance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositMoney</servlet-name>
  	<url-pattern>/DepositMoney</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawMoney</servlet-name>
  	<url-pattern>/WithdrawMoney</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferMoney</servlet-name>
  	<url-pattern>/TransferMoney</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerControllerEmp</servlet-name>
  	<url-pattern>/CustomerControllerEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerControllerEmp1</servlet-name>
  	<url-pattern>/CustomerControllerEmp1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerControllerEmpAdded</servlet-name>
  	<url-pattern>/CustomerControllerEmpAdded</url-pattern>
  </servlet-mapping>
  
  <error-page>
		<error-code>404</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>

<error-page>
		<error-code>405</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>
	
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>

<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>
</web-app>
